/* login.page.scss */
.loading-screen {
    display: flex;
    justify-content: center;
    padding: 800px;
    height: 100%;
  }
  
  .loading-screen img {
    width: 500px; /* Ajusta el tamaño de la imagen según tus necesidades */
    align-content: center;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Espacio entre los campos de entrada y el botón */
  }

  .titulo{
    text-align: center;
    width: 100%; /* Asegura que el título ocupe todo el ancho disponible */
  }