<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="home">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-content">
  <div class="text_bienvenida">
    <h1>Bienvenido a Patitas Felices</h1>
  </div>
</ion-content>

<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" href="/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" href="/search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="formmascotaperdida" routerLink="/formmascotaperdida">
      <ion-icon name="paw-outline"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="location" href="/location">
      <ion-icon name="location-outline"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" routerLink="/profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>

